[package]
name = "buffer"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
sqlx = { version = "0.7", features = ["sqlite", "runtime-tokio-rustls"] }
